<!--views/articles/index.ejs-->
<!DOCTYPE HTML>
<html>
<body>
<h1>Current Events</h1>
<% articlesList.forEach(function(article) { %>
<div>
  <a href="/articles/<%= article.id %>"><%= article.title %></a>
  <div>
    <%= article.content %>
  </div>
  <div>
  	<a href="/articles/new">add a new article</a>
  </div>
</div>
<% }) %>
</body>
</html>

